MODEL:
  NUM_CLASSES: 2
  PRIORS:
    BOXES_PER_LOCATION: [16, 16, 16, 16, 16, 16]
    CLIP: False
    BIN_SIZE: 8
INPUT:
  IMAGE_SIZE: 300
DATASETS:
  TRAIN: ("rotate_train", )
  TEST: ("rotate_val", )
SOLVER:
  MAX_ITER: 40000
  LR_STEPS: [20000, 30000]
  GAMMA: 0.1
  BATCH_SIZE: 32
  LR: 1e-3
TEST:
  BATCH_SIZE: 8

OUTPUT_DIR: 'outputs/vgg_ssd300_rotate'